logs
project/project
project/target
target
.target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
.classpath
.settings
.idea
.idea_modules
*.iml
/RUNNING_PID
.settings/
.target/
.bin
/.sonar
/bin
.cache-main
.cache-tests
.DS_Store